header {
    display: flex;
    justify-content: space-between;
}

header > h3 > a {
    color: orangered;
    display: inline;
}

.headerNav {
    margin-top: 20px;
}

.headerNav > * {
    white-space: nowrap;
}

.navButton {
    background-color: orangered;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    text-decoration: none;
}

.btn {
    background-color: orangered;
    color: white;
    padding: 10px 21.5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;;
    margin: 0.5rem;
}

.btn > a {
    text-decoration: none;
    color: white;
}

.dropdown {
    display: inline-block;
}
  
.dropdownContent {
    opacity: 0;
    transition: opacity 0s 0.5s;
    position: absolute;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
}
  
.categoryLink {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    text-decoration: none;
    text-align: center;
}
  
.categoryLink:hover {background-color: #ddd;}
  
.dropdown:hover .dropdownContent {
    opacity: 1;
    transition: opacity 0s;
}

.dropdown:hover .btn {
    background-color: orangered;
}