:root {
    --btnCol: rgb(211, 69, 50);
    --btnHovCol: rgb(252, 118, 8);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
}

@font-face {
    font-family: 'Marcellus';
    src: url(../Fonts/Marcellus/Marcellus-Regular.ttf) format('truetype');
}

header > a > h3 {
    font-family: 'Marcellus', serif;
    font-size: 20px;
}

header > a > h3:hover {
    color: var(--btnHovCol);
}

header > a {
    color: var(--btnCol);
    display: inline;
    text-decoration: none;
}

@media screen and (min-width:801px) {
    .navBarContainer:nth-of-type(1) {
        display: none;
    }
    .navBarContainer:nth-of-type(2) {
        display: block;
    }
}

@media screen and (max-width:800px) {
    .navBarContainer:nth-of-type(1) {
        display: block;
    }
    .navBarContainer:nth-of-type(2) {
        display: none;
    }
}

.dropBtn, .dropBtnInHam {
    font-family: Verdana, sans-serif;
    background-color: var(--btnCol);
    color: white;
    padding: 10px 18px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    
}

.dropBtn{
    margin-left: 0.7rem;
}

.colBtn, .rowBtn {
    text-decoration: none;
    font-family: Verdana, sans-serif;
    background-color: var(--btnCol);
    color: white;
    padding: 10px 18px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.rowBtn {
    
    margin-left: 1rem;
    height: 18px;
}

.dropBtnInHam {
    width: 170px;
    text-align: center;
}

.colBtn {
    margin-top: 0.5rem;
    text-align: right;

}

.colBtn  > *, .rowBtn > * {
    text-decoration: none;
    font-family: Verdana, sans-serif;
    color: white;
    
}

.colBtn:hover, .rowBtn:hover, .dropBtn:hover, .dropBtnHam:hover, .dropBtnInHam:hover  {
    background-color: var(--btnHovCol);
}

.navBarRow {
    display: flex;
    flex-direction: row;
    margin-top: .8rem;
}

.navBarColContainer {
    display: flex;
    justify-content: flex-end;
}

.navBarCol {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    justify-content: flex-end;
    position: absolute;
    z-index: 1;
}

.dropBtnHam {
    font-family: Verdana, sans-serif;
    background-color: var(--watermelonRed);
    color: white;
    padding: 10px 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin: 0.7rem 0 0 0;
}

.dropdown {
    display: flex;
    justify-content: flex-end;
}

.dropdown > *{
    display: flex;
    justify-content: flex-end;
}

.sublistHam {
    margin-top: 1.9rem;
    z-index: 1;
}



