:root {
    --btnCol: rgb(211, 69, 50);
    --btnHovCol: rgb(252, 118, 8);
}

@font-face {
    font-family: 'Marcellus';
    src: url(../Fonts/Marcellus/Marcellus-Regular.ttf) format('truetype');
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.logo > h3 {
    font-family: 'Marcellus', serif;
    font-size: 20px;
}

header > a {
    color: var(--btnCol);
    text-decoration: none;
}

/* Hamburger(Col) or Row Menu Layout */

.navBarRow {
    display: flex;
    flex-direction: row;
    margin-top: .8rem;
}

.navBarColContainer, .navBarCol {
    display: flex;
    justify-content: flex-end;
}

.navBarCol {
    flex-direction: column;
    margin-top: 4rem;
    position: absolute;
    z-index: 2;
}

@media screen and (min-width:801px) {
    .navBarContainer:nth-of-type(1) {
        display: none;
    }
    .navBarContainer:nth-of-type(2) {
        display: block;
    }
}

@media screen and (max-width:800px) {
    .navBarContainer:nth-of-type(1) {
        display: block;
    }
    .navBarContainer:nth-of-type(2) {
        display: none;
    }
}

/* Buttons */

.colBtn, .rowBtn, .animalsDropBtn, .animalsDropBtnInHam, .dropBtnHam {
    text-decoration: none;
    font-family: Verdana, sans-serif;
    background-color: var(--btnCol);
    color: white;
    padding: 10px 18px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.rowBtn {
    margin-left: 1rem;
    height: 18px;
}

.animalsDropBtn{
    margin-left: 0.7rem;
}

.colBtn {
    margin-top: 0.5rem;
    text-align: right;
}

.colBtn  > *, .rowBtn > * {
    text-decoration: none;
    font-family: Verdana, sans-serif;
    color: white;
    
}

.dropBtnHam {
    margin: 0.7rem 0 0 0;
}

.animalsDropBtnInHam {
    width: 170px;
    text-align: center;
}

.colBtn:hover, .rowBtn:hover, .animalsDropBtn:hover, .dropBtnHam:hover, .animalsDropBtnInHam:hover, .logo:hover  {
    background-color: var(--btnHovCol);
}

/* Hamburger Button Dropdown Menu */

.dropdown > * {
    display: flex;
    justify-content: flex-end;
}

.sublistHam {
    margin-top: 1.9rem;
    z-index: 1;
}



