.petListContainer {
    background-color: #ebe5e2;
    padding: 1rem 0 1rem 0;
}

.petList {
    display: grid;
    margin: 1rem;
    padding: 0rem;
    list-style-type: none;
}

.petList > * {
    margin: 1rem;
}

.emptyListMsg {
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin: 0;
    background-color: #ebe5e2;
    font-family: 'Marcellus', serif;
    font-size: 28px;
    font-weight: bolder;
    color: rgb(214, 32, 8);
}

@supports (display: grid) {
    .petList{
        grid-template-columns: repeat(3, 1fr);
    }

    @media(min-width: 700px) and (max-width: 1050px){
        .petList {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media(max-width: 700px){
        .petList {
            grid-template-columns: 1fr;
        }
    }
}