.card {
  border: 16px white solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 50vh;
  padding: 0;
  position: relative;
}

.hiddenMsg {
  display: none;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
  font-weight: bolder;
}

.card:hover {
  border-color: rgba(0, 0, 0, .1);
  background-color: rgba(0, 0, 0, .2);
  opacity: 1;
  z-index: 2;
}

.card:hover .hiddenMsg {
  display: block;
  z-index: 2;
}

.card:hover img {
  opacity: 0.5;
  
}

.imgContainer {
  height: 80%;
  width: 100%;
  overflow: auto;
  background-color: black;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow:auto;
  background-repeat: no-repeat;

}

.shortInfo {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  align-content: center;
  padding: 0 2rem;
  /* border: orange solid; */
  height: 18.5%;
}

.link {
  color: black;
  text-decoration: none;
}

.name {
  font-size: 30px;
  font-weight: bold;
  margin-right: 1rem;
}