:root {
    --watermelonRed: rgb(211, 69, 50);
}

.homeContainer {
    height:auto;
    min-height: 75vh;
    padding: 0;
    overflow: visible;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Marcellus';
    src: url(../Fonts/Marcellus/Marcellus-Regular.ttf) format('truetype');
}

.homeTop {
    margin: 0;
    padding: 1.5rem 10vw 2rem 7vw;
    height: 100%;
    width: 100vw;
    background: #d9ccc6;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.homeTopImgWrap {
    position: absolute;
    display: cover;
    transform: translateX(30%);
    
}

.homeTitleImgWrap {
    display: flex;
    flex-direction: row;
}

.homeTitleImgWrap > h1 {
    padding: 0;
    font-family: 'Marcellus', serif;
    font-size: 10vh;
    margin: 0 0 2rem 0;
    color: white;
    opacity: 1;
    z-index: 1;
    text-shadow: -2px 0 var(--watermelonRed), 0 10px var(--watermelonRed), 2px 0 var(--watermelonRed), 0 -2px var(--watermelonRed);
}

.homeDesc {
    margin: 0 10rem 0 0;
    font-size: 2.25vh;
    color: var(--watermelonRed);
    font-family: 'Marcellus', serif;
}

.startBtn {
    font-family: 'Marcellus', serif;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 10px 12px;
    font-size: 19px;
    background-color: var(--watermelonRed);
    border: none;
    border-radius: 5px;
    outline: none;
    display: flex;
    flex-direction: row;
    width: 138px;
    margin-bottom: 1rem;
}

.startBtn:hover {
    background-color: rgba(255, 94, 0, 0.842);
}


.startBtn > span:nth-of-type(1) {
    margin-right: 15px;
    margin-top: 2px;
}

.homeBottom {
    margin: 0;
    padding: 0;
    display: inline-block;
    overflow: hidden;
    position: relative;
    margin-top: .5rem;
    margin-bottom: .2rem;
    padding-bottom: .5rem;
    width: 100%;
}

.homeBottom > img {
    width: 100%;
    height: auto;
    opacity: 0.2;
    position: absolute;
    z-index: -1;
    transform: translateY(-10%);

}

.homeBottom > h3 {
    padding: 0;
    font-family: 'Marcellus', serif;
    font-size: 3vh;
    color: var(--watermelonRed);
    margin: 2rem 0 0 3rem;
}

.randomPetDisplay {
    display: grid;
    align-content: center;
    z-index: 1;
    position: relative;
    padding: 2rem 3rem 2rem 3rem;
    grid-gap: 3rem;
}

@supports (display: grid) {
    .randomPetDisplay{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media(max-width: 750px){
        .randomPetDisplay {
            grid-template-columns: 1fr;
        }
        .homeBottom > img {
            height: 100%;
            width: auto;
            transform: translateX(-10%) translateY(-20%);
        }
    }
}

@media(max-width: 800px){
    .homeTopImgWrap {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 1s, opacity 0.5s linear;
    }
}

@media(min-width: 801px){
    .homeTopImgWrap {
        visibility: visible;
        opacity: 0.65;
        transition: opacity .5s linear;
    }
}