.aboutUsPageContainer {
  background:#dfdad9;
  padding: 0;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.column {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.imgAtBack {
  opacity: 0.2;
  position: absolute;
  pointer-events: none;
  z-index: -1;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  opacity: 0.75;
  background-color: #ffffff;
  z-index: 1;
  padding: .5rem 1rem 1rem 1rem;
  margin: 2.5rem 0 2.5rem 0;
}

.subTitle {
  color: rgb(211, 69, 50);
  font-size: 3vh;
}

.update {
  font-weight: bold;
}