.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }

.column {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.container {
    padding: 10px 15px;
    margin-bottom: 3rem;
  }
  
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}