.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    background-color: #fdf8f6;
  }

.column {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  
}

.aboutUsContainer {
  background: #d9ccc6;
  padding: 3rem 0 1rem 0;
}

.container {
    padding: 10px 15px;
    margin-bottom: 3rem;
  }
  
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: rgb(211, 69, 50);
}