@font-face {
    font-family: 'Marcellus';
    src: url(../Fonts/Marcellus/Marcellus-Regular.ttf) format('truetype');
}    

.formPageContainer {
    background-color: #e6dedb;
    padding: 1.5rem 0 2rem 0;
    overflow: hidden;
    position: relative;
}

.formContainer, .submitMsgContainer {
    display: flex;
    flex-direction: column;
    padding-top: .5rem;
    margin-left: 15%;
    margin-right: 15%;
}

.formContainer > h2, .submitMsgContainer > p {
    margin: 1rem 0 1rem 2rem;
    font-family: 'Marcellus', serif;
    font-size: 28px;
    font-weight: bolder;
    color: rgb(214, 32, 8);
}

.submitMsgContainer > p {
    margin: 14rem 0 8em 2rem;
}

/* Within Each Input Card */

.inputContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    background-color: #fdf8f6;
    color: rgb(53, 50, 49);
}

.required {
    color: var(--softRose);
}

.question {
    font-weight: bold;
}

.inputContainer > :nth-child(2) {
    padding: 1rem 0 0 0;
}

.inputContainer > label > input {
    margin-left: 1rem;
}

.inputContainer > p {
    margin: 0;
}

.inputContainer > label > select {
    display: block;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 30%;
    min-width: 150px;
    font-size: 14px;
}

/* Hidden Inputs */

.livingSpaceInput {
    margin-top: 1rem;
    width: 20%;
    min-width: 100px;
    display: block;
}

.houseMemberList {
    display: flex;
    flex-direction: column;
    margin: .5rem 0 .5rem 3rem;
}

.hiddenInput {
    margin-left: 1rem;
}

.hiddenInput > input {
    margin-left: .5rem;
}

.formBtnContainer {
    margin: 0 0 2rem 3rem;
    display: flex;
    flex-direction: row;
}

/* Buttons */

.cancelBtn, .submitBtn {
    text-decoration: none;
    font-family: Verdana, sans-serif;
    font-size: 2vh;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 21.5px;
}

.submitBtn {
    border: none;
    background-color: rgb(214, 32, 8);
    color: white;
}

.cancelBtn {
    color: rgb(201, 23, 0);
    margin-left: 1rem;
}

.cancelBtn:hover {
    background-color: rgb(245, 241, 236);
}

.submitBtn:hover {
    background-color: rgb(235, 135, 4);
}


