:root {
    --softRose: rgb(211, 69, 50);
}

@font-face {
    font-family: 'Marcellus';
    src: url(../Fonts/Marcellus/Marcellus-Regular.ttf) format('truetype');
}    

.formPageContainer {
    background-color: #d9ccc6;
    padding: 1.5rem 0 2rem 0;
    overflow: hidden;
    position: relative;
}
.formContainer, .submitMsgContainer {
    display: flex;
    flex-direction: column;
    padding-top: .5rem;
    margin-left: 15%;
    margin-right: 15%;
    z-index: 1;
}

.formContainer > h2, .submitMsgContainer > p {
    margin: 1rem 0 1rem 2rem;
    font-family: 'Marcellus', serif;
    font-size: 28px;
    font-weight: bolder;
    color: rgb(214, 32, 8);
}

.submitMsgContainer > p {
    margin: 14rem 0 8em 2rem;
}


.inputContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    background-color: #fdf8f6;
    color: rgb(53, 50, 49);
    z-index: 1;
}

.inputContainer > :nth-child(2) {
    padding: 1rem 0 0 0;
}

.question {
    font-weight: bold !important;
}

.inputContainer > label > input {
    margin-left: 1rem;
}

.inputContainer > label > select {
    display: block;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 30%;
    min-width: 150px;
    font-size: 14px;
}

.livingSpaceInput {
    margin-top: 1rem;
    width: 20%;
    min-width: 100px;
    display: block;
}


.required {
    color: var(--softRose);
}

.inputContainer > p {
    display:  inline;
    padding: 0;
    margin: 0;
}

.hiddenInput {
    margin-left: 1rem;
    
}

.hiddenInput > input {
    margin-left: .5rem;
}

.formBtnContainer {
    margin: 0 0 2rem 3rem;
    display: flex;
    flex-direction: row;
}

.submitBtn {
    text-decoration: none;
    background-color: var(--softRose);
    color: white;
    padding: 10px 21.5px;
    font-size: 16px;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    border: none;
    border-radius: 5px;
    width: 100px;
    z-index: 1;
}

.cancelBtn {
    text-decoration: none;
    font-family: Verdana, sans-serif;
    color: var(--softRose);
    padding: 10px 21.5px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    color: rgb(201, 23, 0);
    margin-left: 1rem;
    width: 52px;
    z-index: 1;
}

.cancelBtn:hover {
    color: rgb(243, 93, 6);
}

.submitBtn:hover {
    background-color: orange;
}

.houseMemberList {
    display: flex;
    flex-direction: column;
    margin: .5rem 0 .5rem 3rem;
}

.imgAtBack {
    opacity: 0.125;
    position: absolute;
    transform: translateY(5%);
    pointer-events: none;
}

