.dropContainer {
    position: absolute;
    background-color: #f1f1f1;
    flex-direction: column;
    z-index: 2;
    margin-top: 1rem;
}
  
.categoryLink {
    color: rgb(185, 46, 28);
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    text-align: center;
}
  
.categoryLink:hover {background-color: #ddd;}
