.footerContainer {
    
    display: flex;
    margin-left: 1rem;
    margin-top: 1.5rem;
}

.footerContainer > div {
    margin-right: 2rem;    
}

.footerContainer > div > * {
    margin: 0.5rem;
    padding: 0rem;
}

.email {
    color: rgb(84, 84, 245);
}