.footerContainer {
    
    display: flex;
    margin-left: 1rem;
    margin-top: 1.5rem;
}

.footerContainer > div {
    margin-right: 2rem;    
}

.footerContainer > div > * {
    margin: 0.5rem;
    padding: 0rem;
}

.email {
    color: rgba(0, 0, 0, 0.918);
}

.email:hover {
    color: rgba(0, 0, 255, 0.836);
}

.footerContainer > div > p {
    color: rgba(0, 0, 0, 0.959);
}